/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/

/******************************************
/* ISOTOPE
/*******************************************/

.grid-sizer {
  width: 25%;
}
.grid-item { 
  /*width: 19.5%;*/
  width: 25%;
  margin-bottom: -9px;
  /*margin-left: 4px;*/
  /*position: relative;*/
 }
.margin-container { 
  margin: 20px;
  position: relative;
  background: white;
  padding-bottom: 25px;
}

.margin-container p {
  padding-bottom: 20px;

}

.grid-item img { 
  width: 100%; 
  margin-bottom: 0px;
}

.main {
  width: 100%;
  margin: 10px auto;
  padding: 0px 20px;
}

.grid {
  clear:both;
}

.title {
  text-align: left;
  font-size: 18px;
  line-height: 1.2em;
  padding: 12px 8px 20px 8px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.tribe-item {
  /*background: rgba(164,25,45,0.7);*/
  background: rgba(143,0,199,0.7);
  height: 4px;
  width: 20%;
  margin-left: 8px;
  float:left;
/*  margin-bottom: 2px;*/
  /*color:#8F00C7*/
}

.food-item {
  background: rgba(255,13,5,0.7);
  height: 4px;
  width: 20%;
  margin-left: 8px;
  float:left;
/*  margin-bottom: 2px;*/

}

.shelter-item{
  background: rgba(12,191,207,0.7);
  height: 4px;
  width: 20%;
  margin-left: 8px;
  float:left;
/*  margin-bottom: 2px;*/
}

.magic-item {
  background: rgba(250,196,0,0.7);
  height: 4px;
  width: 20%;
  margin-left: 8px;
  float:left;
/*  margin-bottom: 2px;*/
}

.content-label {
  height: 18px;
  width: 20%;
  border: 1px solid black;
  float: right;
  margin-right: 8px;
  margin-bottom: 10px;
}

.content-label-up {
  height: 18px;
  width: 20%;
  border: 1px solid #231f20;
  float: right;
  margin-right: 8px;
  margin-bottom: 10px;
  background-color: #231f20;
}

.content-label-up p {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color:white;
}

.content-label p {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}





/******************************************
/* PACKERY / RESPONSIVE
/*******************************************/
/*
@media screen and (max-width: 1300px) {

.test1 a {
  font-size: 14px;
}
}*/

@media screen and (max-width: 1200px) {

.test1 a {
  font-size: 12px;
}

.grid-sizer {
  width: 25%;
}
.grid-item { 
  /*width: 19.5%;*/
  width: 25%;
  margin-bottom: -9px;
  /*margin-left: 4px;*/
  /*position: relative;*/
 }
.margin-container { 
  margin: 20px;
  position: relative;
}

.aboutMenu li {
  font-size: 14px;
}

#tagline {
  display: none;
}

}


@media screen and (max-width: 1000px) {

.grid-sizer {
  width: 33.3%;
}
.grid-item { 
  /*width: 19.5%;*/
  width: 33.3%;
  margin-bottom: -9px;
  /*margin-left: 4px;*/
  /*position: relative;*/
 }
.margin-container { 
  margin: 2px;
  position: relative;
}

.margin-container { 
  margin: 10px;
  position: relative;
  background: white;
}

.margin-container p {
  padding-bottom: 20px;
}

#tagline {
  display: none;
}

}


@media screen and (max-width: 1400px) {

.menus {
  padding-left: 0%;
  margin-left: 0%;
}

}



@media screen and (max-width: 1200px) {

.menus {
  padding-left: 0%;
  margin-left: 0%;
}

}



@media screen and (max-width: 878px) {

.menus {
  padding-left: 0%;
  margin-left: 0%;
}

#tagline {
  display: none;
}

}



@media screen and (max-width: 667px) {

.menus {
  padding-left: 0%;
  margin-left: 0%;
}


.grid-sizer {
  width: 50%;
}

.grid-item { 
  width: 50%;
  margin-bottom: -9px;
}

.margin-container { 
  margin: 10px;
  position: relative;
  background: white;
}

.margin-container p {
  padding-bottom: 20px;

}

.aboutMenu li {
  font-size: 18px;
  padding-top: 5px;
  margin-bottom: 5px;

}


}

@media screen and (max-width: 500px) {

.grid-sizer {
  width: 100%;
}

.grid-item { 
  width: 100%;
  margin-bottom: -9px;
}


.margin-container { 
  margin: 20px;
  position: relative;
  background: white;
}

.margin-container p {
  padding-bottom: 20px;

}

#tagline {
  display: inline;
  width: 100%;
  float:none;

}

}



/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
/*background-color: #F7F7F7;*/
  background-color: #F0F0F0;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  padding-top: 75px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  line-height: 1.4;
}

p a {
  text-decoration: underline;
}

hr {
  float:left;
}


/******************************************
/* LAYOUT
/*******************************************/


header {
  background: white;
  padding: 5px 0;
  overflow: hidden;
  margin-bottom: 5px;
}

header nav {
  margin-top: 2px;
}

header nav ul li {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  font-size: 18px;
  padding: 0px 10px 0px 10px;
  line-height: 25px;
  vertical-align: middle;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

nav {
  margin-right: 20px;
  margin-top: 5px;
}



.innerPage ul li {
padding-bottom:20px;
}


.minilogo img {
  width: 40px;
  float:left;
  display: inline-block;
  margin-left: 15px;
}

.social img {
  width: 20px;
  float:left;
  margin-left: -5px;
}


/*.social2 img {
  width: 25px;
  float:left;
  display: inline-block;
  margin-left: 5px;
}*/

.secretNav {
  display:none;
  float:left;
  width: 50%;
  padding-top:16px;
  padding-left: 10px;

}

.secretNavAbout {
  margin-left: 90px;

}

.menus {
  width: 50%;
  float: right;
  /*padding-left: 25%;*/
  /*margin-left: 20%;*/
}


.sticky {
  display: inline-block;
}


.secretNav li a{
  font-size: 18px;
  color: gray;
  font-weight: 400;
}

#tagline {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 18px;
}

.aboutMenu {
  float:left;
  display: inline-block;
  font-size: 18px;
  color: gray;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  margin-top: -18px;
}

.aboutMenu li {
  display: inline-block;
  margin: 8px;

/*  padding: -20px 10px;*/
  font-weight: 400;
}

.filter-list.foodgroup.flavorgroup ul{
    float: right;
    text-align: right;
}

.interior {
  line-height: 65px;
  color:gray;
}

.interior img {
  width: 50px;
  float:left;
  display: inline-block;
  padding-left: 20px;
  margin-left: 20px;
}

.foodgroup {
  float:right;
}

.foodgroup li {
  padding-left: 12px;
}

.flavorgroup {
  clear: both;
  float:right;
  margin-right: -10px;
  margin-top: -3px;
  margin-bottom: 6px;
}

.flavorgroup li {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}

#forum a {
  border: 2px solid white;
  padding: 2px 4px;
}

#forum a:hover,
#forum.active a {
  border: 2px solid black;
  padding: 2px 4px;
}

#forum-engaged {
  border: 2px solid black;
  padding: 2px 4px;
}

#project a {
  border: 2px solid white;
  padding: 2px 4px;
}

#project a:hover,
#project.active a {
  border: 2px solid black;
  padding: 2px 4px;
}

#project-engaged {
  border: 2px solid black;
  padding: 2px 4px;
}

#resources a {
  border: 2px solid white;
  padding: 2px 4px;
}

#resources a:hover,
#resources.active a {
  border: 2px solid black;
  padding: 2px 4px;
}

#resources-engaged {
  border: 2px solid black;
  padding: 2px 4px;
}

#share {
  background-color: black;
  padding:2px 6px;
}

#share a {
    color:white;
}


#tribe a,
#tribe a:visited {
  color:#8F00C7;
  padding:2px 4px;
}

#tribe.active a {
  color: white;
  background-color: #8F00C7;
  padding:2px 4px;
}

#food a,
#food a:visited,
#food.active a {
  color:#FF0D05;
  padding:2px 4px;
}
#food.active a {
  color: white;
  background-color:#FF0D05;
  padding:2px 4px;
}

#shelter a,
#shelter a:visited,
#shelter.active a {
  color: rgb(12,191,207);
  padding:2px 4px;
}
#shelter.active a {
  color: white;
  background-color: rgb(12,191,207);
  padding:2px 4px;
}

#magic a,
#magic a:visited,
#magic.active a {
  color: #FAC400;
  padding:2px 4px;
}
#magic.active a {
  color: white;
  background-color: #FAC400;
  padding:2px 4px;
}


.logo img {
  width: 100%;
  padding: 20px;
}

/* SLIDE SHOW */

.slideshow {
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 20px;
  width: 100%;
  clear:both;
}

.caption {
  float:left;
}

.slidebox {
  width: 600px;
}

.slidebox img {
  max-width: 800px;
  max-height: 400px;
}


/******************************************
/* RESOURCE PANEL
/*******************************************/

.parts {
  width: 20%;
  height: 100%;
/*  margin: 0px auto;*/
  background-color: white;
  margin-top: 20px;
  float: left;
  margin-left: 20px;
}

.parts h2 {
  text-align: center;
  margin: 0px auto;
  font-size: 16px;
  line-height: 1.2em;
  padding: 20px;
  color: black;
  font-weight: 600;  
  text-transform: uppercase;
}

.parts ul{
    list-style-type: disc;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 20px;

}

.parts li {
  font-size: 16px;
  line-height: 1.4em;
  color: black;
  font-weight: 300;  
  text-transform: lowercase;
}


.steps {
  width: 80%;
  float:left;
  padding: 20px;
  border: 2px solid black;
}

.steps h2 {
  font-size: 24px;
  line-height: 1.4em;
  color: black;
  text-transform: uppercase;

}

.stepSlider {
  float:left;
  width: 50%;
/*  width: 40%;*/
}

.stepSlider li {
  display: inline-block;
}

.steps img{
/*  width: 100%;*/
  float:left;
  margin-right: 10px;
}

.next {
width: 100%;
text-align: right; 
float:right; 
font-weight: 700;
}

.steps p {
  float:left;
  width: 100%;
}

.resourcePage {
  width: 70%;
  float: left;
  margin-left: 80px;
}


.resource-container {
  width: 70%;
  height: 100%;
/*  margin: 0px auto;*/
  background-color: white;
  margin-top: 20px;
  margin-left: 60px;
  float: left;
}

.resource-header img {
  width: 100%;
/*  padding-left: 20px;*/
  float:left;
}

.resource-card {
padding: 40px 0px 20px 80px;
float:left;
background-color: white;
}

.resource-card img {
  padding-bottom: 20px;
  width: 80%;
}

.resource-card-heading {
  padding-bottom: 20px;
}

.resource-card p {
  text-align: left;
  font-size: 16px;
  line-height: 1.4em;
  padding: 10px 0px;
  color: black;
  font-weight: 200;  
  float:left;
  width: 75%;
}

.resource-card h2 {
  text-align: left;
  font-size: 16px;
  line-height: 1.2em;
  padding-bottom: 12px;
  color: black;
  font-weight: 600;  
  float:left;
}

.resource-card h3 {
  text-align: left;
  font-size: 24px;
  line-height: 1.2em;
  padding-bottom: 20px;
  color: black;
  font-weight: 600;  
  float:left;
  text-transform: uppercase;
}

.resource-card-description {
  margin-bottom: 12px;
  width: 100%;
  float:left;
}

.resource-card-description p {
  text-align: left;
  font-size: 16px;
  line-height: 1.4em;
  padding: 10px 0px;
  color: black;
  font-weight: 200;  
  float:left;
  width: 75%;
}

.resource-card h1 {
  text-align: left;
  font-size: 54px;
  line-height: 1.2em;
  padding-bottom: 12px;
  color: black;
  font-weight: 700;  
  float:left;
  width: 75%;

}

.resource-card h2 {
  text-align: left;
/*  font-size: 54px;*/
  line-height: 1.2em;
  padding-bottom: 12px;
  color: black;
  font-weight: 600;  
  float:left;
  width: 75%;

}


/******************************************
/* PROJECT PAGES
/*******************************************/

.project-container {
  width: 70%;
  height: 100%;
/*  margin: 0px auto;*/
  background-color: white;
  margin-top: 20px;
  float: left;
  margin-left: 60px;
}

.project-container img {
 /* width: 100%;*/
/*  padding-left: 20px;*/
  float:left;
}

.project-card {
padding: 40px 60px 20px 60px;
float:left;
background-color: white;
}

.project-header img {
  padding-bottom: 20px;
  max-width: 75%;
}

.project-card-heading {
  padding-bottom: 20px;
}

.project-card h2 {
  text-align: left;
  font-size: 16px;
  line-height: 1.2em;
  padding-bottom: 12px;
  color: black;
  font-weight: 600;  
  float:left;
}

.project-card-description {
  margin-bottom: 12px;
  width: 100%;
  float:left;
}

.project-card-description p {
  margin-bottom: 12px;
  width: 100%;
  float:left;
  padding-bottom: 20px;
}

.project-card p {
  text-align: left;
  font-size: 16px;
  line-height: 1.4em;
  padding: 10px 0px;
  color: black;
  font-weight: 200;  
  float:left;
  width: 75%;
}

.project-card h1 {
  text-align: left;
  font-size: 54px;
  line-height: 1.2em;
  padding-bottom: 12px;
  color: black;
  font-weight: 700;  
  float:left;
  width: 75%;

}

.project-card h2 {
  text-align: left;
/*  font-size: 54px;*/
  line-height: 1.2em;
  padding-bottom: 12px;
  color: black;
  font-weight: 600;  
  float:left;
  width: 75%;

}

.tabs {
  clear:both;
}

.tribe-tab {
  background: rgba(143,0,199,0.7);
  height: 14px;
  width: 20%;
  float:left;
  margin-bottom: 12px;
}

.food-tab {
  background: rgba(255,13,5,0.7);
  height: 14px;
  width: 20%;
  float:left;
  margin-bottom: 12px;
}

.shelter-tab{
  background: rgba(12,191,207,0.7);
  height: 14px;
  width: 20%;
  float:left;
  margin-bottom: 12px;
}

.magic-tab {
  background: rgba(250,196,0,0.7);
  height: 14px;
  width: 20%;
  float:left;
  margin-bottom: 12px;
}

.blank-tab {
  background: white;
  height: 14px;
  width: 20%;
  float:left;
  margin-bottom: 12px;
}

.forwardBack {
  padding-top: 20px;
  width: 68.3%;
  margin-left: 80px;
  clear: both;
}

.forwardBack-resource {
  padding-top: 20px;
  width: 68%;
  margin-left: 100px;
  clear: both;
}
.forwardBack-resource img {
  width: 60px;
}

.clickLeft ul {
  float: left;
}

.clickLeft li {
  display: inline-block;
  padding: 5px;
}

.clickRight ul {
  float: right;
}

.clickRight li {
  display: inline-block;
  padding: 5px;
}

.clickRightResource li {
  display: inline-block;
  padding: 5px;
}

.forwardBack img {
  width: 60px;
}

.more {
  clear:both;
  text-transform: uppercase;
  padding-top: 40px;
  padding-left: 20px;
  margin-left: 60px;
}

.more-resource {
  clear:both;
  text-transform: uppercase;
  padding-top: 40px;
  padding-left: 20px;
  margin-left: 80px;
}

.projectsPage {
  width: 70%;
  float: left;
  margin-left: 60px;
}

/* .projects is a class that gets attached to .grid-sizer and .grid-item to change their format to three columns on project pages
.projectsMargin gets attached to the .margin-container class to adjust the column width on those pages, though it may stay the same and therefore can get deleted.*/

/*changed width from 33.3 to 25 to test on github cuz it is weird*/

.projects { 
  width: 33.3%;
  margin-bottom: -9px;
  /*margin-left: 4px;*/
  /*position: relative;*/
 }
.projectsMargin { 
  margin: 20px;
  position: relative;
  background: white;
}

.page-wrap { 
  width: 100%; 
  margin: 20px 78%; 
  position: relative; 
}

.sidebar {
  width: 20%;
  position: fixed; 
/*  height: 100%;*/
/*  margin: 0px auto;*/
  background-color: white;
  margin-top: 20px;
  float: left;
  margin-left: 5px;
/*  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 50px; // required as well.
*/}

.sidebar img {
  width:100%;
}

.sidebar p {
font-size: 14px;
padding: 10px 10px;
}

.sidebar ul{
    list-style-type: disc;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 20px;

}

.sidebar li {
  font-size: 16px;
  line-height: 1.4em;
  color: black;
  font-weight: 300;  
  text-transform: lowercase;
}

.sidebar h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #231f20;
  text-align: center;
  padding: 10px;
}

.sidebar h3 {
  text-align: center;
  margin: 0px auto;
  font-size: 16px;
  line-height: 1.2em;
  padding: 20px;
  color: black;
  font-weight: 600;  
  text-transform: uppercase;
}

.sidebar-label-up {
  border: 1px solid #231f20;
  margin:10px;
  background-color: white;
}


/******************************************
/* ABOUT PAGE
/*******************************************/

#about-engaged {
  border: 2px solid gray;
  padding: 1px 4px;
}

.whats {
  width: 33.3%;
  float:left;
  padding:5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.whats p {
  text-align: center;
  width: 100%;
  padding: 5px;
}

.whats img {
  float: left;
}

.whats h2 {
  text-align: center;
  width: 100%;
}

.who h1 {
  font-size: 24px;
  text-transform: uppercase;
  width: 100%;
}

.whatsTitle h1 {
  font-size: 24px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
}

/******************************************
/* CONTACT PAGE
/*******************************************/

#contact-engaged {
  border: 2px solid gray;
  padding: 1px 4px;
}

.contactInfo {
  width:75%;
  padding-top: 20px;
}

.contactInfo p {
  text-align: left;
  width: 100%;
  margin-top: -20px;
}

.contactInfo img {
  float: left;
}

.contactInfo h2 {
  text-align: left;
  width: 100%;
}


